<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>
	Galerija</display-name>
  <servlet>
    <description>
		</description>
    <display-name>
		LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>
		servleti.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		DodavanjeAutoraServlet</display-name>
    <servlet-name>DodavanjeAutoraServlet</servlet-name>
    <servlet-class>
		servleti.DodavanjeAutoraServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		UTF8Servlet</display-name>
    <servlet-name>UTF8Servlet</servlet-name>
    <servlet-class>
		servlet1.UTF8Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		CP1250Servlet</display-name>
    <servlet-name>CP1250Servlet</servlet-name>
    <servlet-class>
		servlet1.CP1250Servlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		UTF8UploadServlet</display-name>
    <servlet-name>UTF8UploadServlet</servlet-name>
    <servlet-class>
		servlet1.UTF8UploadServlet</servlet-class>
  </servlet>
  <servlet>
    <description>
		</description>
    <display-name>
		CP1250UploadServlet</display-name>
    <servlet-name>CP1250UploadServlet</servlet-name>
    <servlet-class>
		servlet1.CP1250UploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DodavanjeAutoraServlet</servlet-name>
    <url-pattern>/DodavanjeAutoraServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UTF8Servlet</servlet-name>
    <url-pattern>/UTF8Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CP1250Servlet</servlet-name>
    <url-pattern>/CP1250Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UTF8UploadServlet</servlet-name>
    <url-pattern>/UTF8UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CP1250UploadServlet</servlet-name>
    <url-pattern>/CP1250UploadServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>inicijalizacioniParametar</param-name>
    <param-value>10</param-value>
  </context-param>
  <jsp-config>
    <taglib>
      <taglib-uri>mytags</taglib-uri>
      <taglib-location>/WEB-INF/mytags.tld</taglib-location>
    </taglib>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>IzmenaAutoraServlet</display-name>
    <servlet-name>IzmenaAutoraServlet</servlet-name>
    <servlet-class>servleti.IzmenaAutoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmenaAutoraServlet</servlet-name>
    <url-pattern>/IzmenaAutoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IzmenaDelaServlet</display-name>
    <servlet-name>IzmenaDelaServlet</servlet-name>
    <servlet-class>servleti.IzmenaDelaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IzmenaDelaServlet</servlet-name>
    <url-pattern>/IzmenaDelaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodavanjeDelaServlet</display-name>
    <servlet-name>DodavanjeDelaServlet</servlet-name>
    <servlet-class>servleti.DodavanjeDelaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodavanjeDelaServlet</servlet-name>
    <url-pattern>/DodavanjeDelaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrisanjeAutoraServlet</display-name>
    <servlet-name>BrisanjeAutoraServlet</servlet-name>
    <servlet-class>servleti.BrisanjeAutoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrisanjeAutoraServlet</servlet-name>
    <url-pattern>/BrisanjeAutoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BrisanjeDelaServlet</display-name>
    <servlet-name>BrisanjeDelaServlet</servlet-name>
    <servlet-class>servleti.BrisanjeDelaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BrisanjeDelaServlet</servlet-name>
    <url-pattern>/BrisanjeDelaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PregledAutoraServlet</display-name>
    <servlet-name>PregledAutoraServlet</servlet-name>
    <servlet-class>servleti.PregledAutoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PregledAutoraServlet</servlet-name>
    <url-pattern>/PregledAutoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PregledDelaServlet</display-name>
    <servlet-name>PregledDelaServlet</servlet-name>
    <servlet-class>servleti.PregledDelaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PregledDelaServlet</servlet-name>
    <url-pattern>/PregledDelaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NadjiAutoraServlet</display-name>
    <servlet-name>NadjiAutoraServlet</servlet-name>
    <servlet-class>servleti.NadjiAutoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NadjiAutoraServlet</servlet-name>
    <url-pattern>/NadjiAutoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NadjiDeloServlet</display-name>
    <servlet-name>NadjiDeloServlet</servlet-name>
    <servlet-class>servleti.NadjiDeloServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NadjiDeloServlet</servlet-name>
    <url-pattern>/NadjiDeloServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NadjiAutora2Servlet</display-name>
    <servlet-name>NadjiAutora2Servlet</servlet-name>
    <servlet-class>servleti.NadjiAutora2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NadjiAutora2Servlet</servlet-name>
    <url-pattern>/NadjiAutora2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NadjiDelo2Servlet</display-name>
    <servlet-name>NadjiDelo2Servlet</servlet-name>
    <servlet-class>servleti.NadjiDelo2Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NadjiDelo2Servlet</servlet-name>
    <url-pattern>/NadjiDelo2Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutorIzmBris</display-name>
    <servlet-name>AutorIzmBris</servlet-name>
    <servlet-class>servleti.AutorIzmBris</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutorIzmBris</servlet-name>
    <url-pattern>/AutorIzmBris</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoriServlet</display-name>
    <servlet-name>AutoriServlet</servlet-name>
    <servlet-class>servleti.AutoriServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoriServlet</servlet-name>
    <url-pattern>/AutoriServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelaServlet</display-name>
    <servlet-name>DelaServlet</servlet-name>
    <servlet-class>servleti.DelaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelaServlet</servlet-name>
    <url-pattern>/DelaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NadjiDeloTehnikaServlet</display-name>
    <servlet-name>NadjiDeloTehnikaServlet</servlet-name>
    <servlet-class>servleti.NadjiDeloTehnikaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NadjiDeloTehnikaServlet</servlet-name>
    <url-pattern>/NadjiDeloTehnikaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NadjiDeloPravacServlet</display-name>
    <servlet-name>NadjiDeloPravacServlet</servlet-name>
    <servlet-class>servleti.NadjiDeloPravacServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NadjiDeloPravacServlet</servlet-name>
    <url-pattern>/NadjiDeloPravacServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelaAutoraServlet</display-name>
    <servlet-name>DelaAutoraServlet</servlet-name>
    <servlet-class>servleti.DelaAutoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelaAutoraServlet</servlet-name>
    <url-pattern>/DelaAutoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodavanjeDelaAutoraServlet</display-name>
    <servlet-name>DodavanjeDelaAutoraServlet</servlet-name>
    <servlet-class>servleti.DodavanjeDelaAutoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodavanjeDelaAutoraServlet</servlet-name>
    <url-pattern>/DodavanjeDelaAutoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoriDelaSerlet</display-name>
    <servlet-name>AutoriDelaSerlet</servlet-name>
    <servlet-class>servleti.AutoriDelaSerlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoriDelaSerlet</servlet-name>
    <url-pattern>/AutoriDelaSerlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AutoriDelaServlet</display-name>
    <servlet-name>AutoriDelaServlet</servlet-name>
    <servlet-class>servleti.AutoriDelaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoriDelaServlet</servlet-name>
    <url-pattern>/AutoriDelaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DodavanjeAutoraDelaServlet</display-name>
    <servlet-name>DodavanjeAutoraDelaServlet</servlet-name>
    <servlet-class>servleti.DodavanjeAutoraDelaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DodavanjeAutoraDelaServlet</servlet-name>
    <url-pattern>/DodavanjeAutoraDelaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NadjiAutoraTehPravServlet</display-name>
    <servlet-name>NadjiAutoraTehPravServlet</servlet-name>
    <servlet-class>servleti.NadjiAutoraTehPravServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NadjiAutoraTehPravServlet</servlet-name>
    <url-pattern>/NadjiAutoraTehPravServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NadjiDeloAutorServlet</display-name>
    <servlet-name>NadjiDeloAutorServlet</servlet-name>
    <servlet-class>servleti.NadjiDeloAutorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NadjiDeloAutorServlet</servlet-name>
    <url-pattern>/NadjiDeloAutorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VrsteDelaServlet</display-name>
    <servlet-name>VrsteDelaServlet</servlet-name>
    <servlet-class>servleti.VrsteDelaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VrsteDelaServlet</servlet-name>
    <url-pattern>/VrsteDelaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VrsteDelaAut</display-name>
    <servlet-name>VrsteDelaAut</servlet-name>
    <servlet-class>servleti.VrsteDelaAut</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VrsteDelaAut</servlet-name>
    <url-pattern>/VrsteDelaAut</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VrsteDelaAutorServlet</display-name>
    <servlet-name>VrsteDelaAutorServlet</servlet-name>
    <servlet-class>servleti.VrsteDelaAutorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VrsteDelaAutorServlet</servlet-name>
    <url-pattern>/VrsteDelaAutorServlet</url-pattern>
  </servlet-mapping>
</web-app>